*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.generalbg {
    background: $glight;

}



//flex
.dc_flex_row {
    display: flex;
}

.dc_flex-colum {
    display: flex;
    flex-direction: column;
}

.dc_flex-center{
    align-items: center;
}


.c-pointer {
    cursor: pointer;
}



