.Header {
    background: rgb(2, 0, 36);
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 0.7959558823529411) 62%,
        rgba(222, 60, 60, 0.927608543417367) 100%
    );
    height: 120px;
    padding: 0 2rem;
    &__spaicing{
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: space-between;
    }

    &__logo {
        width: 90px;
    }

    &__nav a {
        color: $glight;
        list-style: none;
        text-decoration: none;
        padding: 1rem;
    }
    i{
        color: $glight;
    }
}

@media screen and (max-width:768px){
    .Header {
        padding: 0;
        &__spaicing{
            flex-direction: column;  
            justify-content: space-evenly;
        }
        &__logo {
            display: block;
            img {
                height: 20px;
            }
        }
        &__nav a, i {
            color: $glight;
            font-size: 14px !important;
            list-style: none;
            text-decoration: none;
            padding: 1rem;
        }

 
    }
}


@media screen and (max-width:448px){
    .Header {
        &__logo {
            display: block;
            padding-left: 2rem;
            text-align: left;
            width: 98vw;
        }
        i {
            display: none;
        }
 
    }
}